<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBK5guIJ8iWk1Wtjo7qg_fI4vfSpGCkKno</string>
	<key>GCM_SENDER_ID</key>
	<string>889538004732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipification.showcase</string>
	<key>PROJECT_ID</key>
	<string>ip-demo-95cee</string>
	<key>STORAGE_BUCKET</key>
	<string>ip-demo-95cee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889538004732:ios:f8a90322b10cc2f79eb979</string>
</dict>
</plist>