//
//  ipification.xcconfig
//  firstapp
//
//  Created by Nguyen Huu Tinh on 11/1/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
COVERAGE_ENDPOINT = https:\/\/stage.ipification.com/auth/realms/ipification/coverage/202.175.50.128
AUTHORIZATION_URL = https:\/\/stage.ipification.com/auth/realms/ipification/protocol/openid-connect/auth
REDIRECT_URI = demoip:\/\/oauth2redirect/provider
CLIENT_ID = 1328dbc2382b45af9b74a49a04fd55e6
